@import "../../styles/CommonVar.module.scss";

.button {
    padding: 15px 76px 16px 76px;
    font-family: $font-basic;
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: $font-size-16;
    line-height: $line-height-130;
    color: $white-color;
    border: none;
    cursor: pointer;
}

.primary {
    padding: 16px 39px;
    text-decoration: none;
    color: $white-color;
    font-weight: $font-weight-500;
}

.orange {
    background: $orange-color;
}

.orange:hover {
    background-color: $blue-color;
    transition: 0.3s ease;
}

.blue {
    background: $blue-color;
}

.button:hover {
    background: #053d5e;
}