.container {
    max-width: 1140px;
    margin: auto;
}

.banner {
    padding-top: 48px;
}

.pos {
    position: relative;
}

.btn {
    position: absolute;
    right: 2%;
    bottom: 6%;
}

.pic {
    width: 100%;
    height: auto;
}